 /* Extra large devices (large laptops and desktops, 1200px and up) */
 @media (min-width: 1200px) and (max-width: 1399px) {
     /* header-section */
    .header-section {
        height: 60px;
    }
    .container {
        width: 100%;
        margin: auto;
    }
    /* banner-section */
    .header-section .header-left {
        width: 30%;
        float: left;
    }
    .header-section .header-right {
        width: 70%;
        float: right;
    }
  }

  /* Large devices (laptops/desktops, 992px and up) */
  @media (min-width: 992px) and (max-width: 1199px) {
      /* header-section */
    .header-section {
        height: 60px;
    }
    .container {
        width: 100%;
        margin: auto;
    }
    .header-section .header-left {
        width: 30%;
        float: left;
    }
    .header-section .header-right {
        width: 70%;
        float: right;
    }
    /* service-section */
    .service-section {
        height: 440px;
    }
    .service-section .service-header {
        margin-top: 60px;
    }
    .service-section .service-header p {
        color: #787878;
        margin-bottom: 60px;
    }
    .service-section .web-design {
        margin-right: 2%;
        margin-left: 4%;
    }
    .service-section .service-item .graphic-design {
        margin-left: 2%;
    }
    .service-section .service-item .app-development {
        margin-left: 4%;
    }
    .service-section .service-item .digital-marketing {
        margin-right: 4%;
    }
    /* about-section */
    .about-section {
        height: 900px;
    }
    .about-section .about-header p {
        margin-bottom: 40px;
    }
    .about-section .about-title .about-image {
        width: 100%;
        margin-left: 30px;
        display: flex;
        justify-content: center;
    }
    .about-section .about-title .about-image img {
        width: 470px;
        margin-bottom: 50px;
    }
    .about-section .about-content {
        text-align: center;
    }
    .about-section .about-content .content-two {
        margin-top: 20px;
    }
    .about-section .about-content .content-three {
        margin-top: 20px;
    }
  } 
  
   /* Medium devices (landscape tablets, 768px and up) */
   @media (min-width: 768px) and (max-width: 991px) {
     /* header-section */
    .header-section {
        height: 60px;
    }
    .container {
        width: 100%;
        margin: auto;
    }
    .header-section .header-left {
        width: 30%;
        float: left;
    }
    .header-section .header-right {
        width: 70%;
        float: right;
    }
    .header-section .header-right .header-menu ul {
        text-align: right;
    }
    
    .banner-section {
        height: 600px;
    }
    .banner-section .banner-content {
        text-align: center;
        padding: 220px 0;
    }
    .banner-section .banner-content h1 {
        font-size: 50px;
        margin: 20px 0 0 0;
    }
    .banner-section .banner-content p {
        font-size: 15px;
        margin: 5px;
    }
   
    .header-section .header-right .header-menu ul {
        text-align: center;
    }
    .header-section .header-right .header-menu ul li a {
        margin-right: 15px;
    }
    /* banner-section */
    .banner-section {
        height: 600px !important;
    }
    .banner-section .banner-content {
        text-align: center;
        padding: 220px 0 !important;
    }
    /* service-section */
    .service-section {
        height: 400px;
    }
    .service-section .service-header {
        margin-top: 60px;
    }
    .service-section .service-header p {
        margin-bottom: 60px;
    }
    .service-section .service-header h1 {
        font-size: 30px;
    }
    
    /* about-section */
    .about-section {
        height: 930px;
    }
    .about-section .about-header h1 { 
        font-size: 30px;
    }
    .about-section .about-header p {
        margin-bottom: 40px;
    }
    .about-section .about-title .about-image {
        width: 100%;
        margin-left: 30px;
        display: flex;
        justify-content: center;
    }
    .about-section .about-title .about-image img {
        width: 470px;
        margin-bottom: 50px;
    }
    .about-section .about-content {
        text-align: center;
    }
    .about-section .about-content .content-two {
        margin-top: 20px;
    }
    .about-section .about-content .content-three {
        margin-top: 20px;
    }
    
    .contact-section .contact-header {
        padding: 20px 0;
    }   
  } 
    
  /* Small devices (portrait tablets and large phones, 600px and up) */
  @media (min-width: 576px) and (max-width: 767px) {
    /* header-section */
    .header-section {
        height: 60px;
    }
    .container {
        width: 100%;
        margin: auto;
    }
    .header-section .header-left {
        width: 30%;
        float: left;
    }
    .header-section .header-right {
        width: 70%;
        float: right;
    }
    .header-section .header-right .header-menu ul {
        text-align: right;
    }
    .header-section .header-left .header-logo a {
        font-size: 22px;
    }
    .header-section .header-right .header-menu ul li a {
        margin-right: 4px;
        font-size: 13px;
    }
    /* banner-section */
    .banner-section {
        height: 460px;
    }
    .banner-section .banner-content {
        padding: 140px 0;
    }
    /* service-section */
    .service-section {
        height: 640px;
    }
    .service-section .service-header {
        margin-top: 50px;
    }
    .service-section .service-header p {
        margin-bottom: 20px;
    }
    .service-section .web-design {
        width: 48% !important;
        margin: 15px 0px 40px 0px;
    }
    .service-section .service-item .graphic-design {
        width: 48% !important;
        margin: 15px 0px 40px 0px;
    } 
    .service-section .service-item .app-development {
        width: 48%;
        margin: 15px 0px 40px 0px;
    }
    .service-section .service-item .digital-marketing {
        width: 48%;
        margin: 15px 0px 40px 0px;
    }
    /* about-section */
    .about-section {
        height: 930px;
    }
    .about-section .about-header {
        margin-top: 50px;
    }
    .about-section .about-header h1 { 
        font-size: 30px;
    }
    .about-section .about-header p {
        margin-bottom: 40px;
    }
    .about-section .about-title .about-image {
        width: 100%;
        margin-left: 30px;
        display: flex;
        justify-content: center;
    }
    .about-section .about-title .about-image img {
        width: 470px;
        margin-bottom: 50px;
    }
    .about-section .about-content {
        text-align: center;
    }
    .about-section .about-content .content-two {
        margin-top: 20px;
    }
    .about-section .about-content .content-three {
        margin-top: 20px;
    }    
  }
  
  /* Extra small devices (phones, 600px and down) */
   @media (max-width: 575px) {
    /* header-section */
    .header-section {
        height: 90px;
    }
    .container {
        width: 100%;
        margin: auto;
    }
    .header-section .header-left {
        width: 100%;
    }
    .header-section .header-left .header-logo {
        text-align: center;
    }
    .header-section .header-left .header-logo a {
        font-size: 22px;
    }
    .header-section .header-right {
        width: 100%;
    }
    .header-section .header-right .header-menu {
        height: 90px;
        line-height: 0px;
    }
    .header-section .header-right .header-menu ul {
        text-align: center;
    }    
    .header-section .header-right .header-menu ul li a {
        margin-right: 4px;
        font-size: 16px;
        margin-top: 10px;
    }
    /* banner-section */
    .banner-section .banner-content { 
        padding: 50px 0;
    }
    .banner-section {
        height: 360px;
    }
    /* service-section */
    .service-section {
        height: 550px;
        padding: 10px;
    }
    .service-section .service-header {
        margin-top: 20px;
    }
    .service-section .service-header h1 {
        margin: 20px;
    }
    .service-section .service-header p {
        margin-bottom: 25px;
    }
    .service-section .web-design {
        float: left;
        width: 48%;
        margin-right: 3%;
    }
    .service-section .service-item .graphic-design {
        float: left;
        width: 48%;
        margin-bottom: 30px;
    }
    .service-section .service-item .app-development {
        float: left;
        width: 48%;
        margin-left: 0%;
    }
    .service-section .service-item .digital-marketing {
        float: left;
        width: 48%;
        margin-left: 3%;
    }
    /* about-section */
    .about-section {
        height: 930px;
    }
    .about-section .about-header {
        margin-top: 50px;
    }
    .about-section .about-header h1 { 
        font-size: 30px;
    }
    .about-section .about-header p {
        margin-bottom: 40px;
    }
    .about-section .about-title .about-image {
        width: 100%;
        margin-left: 30px;
        display: flex;
        justify-content: center;
    }
    .about-section .about-title .about-image img {
        width: 470px;
        margin-bottom: 50px;
    }
    .about-section .about-content {
        text-align: center;
    }
    .about-section .about-content .content-two {
        margin-top: 20px;
    }
    .about-section .about-content .content-three {
        margin-top: 20px;
    }
    /* contact-section */
    .contact-section {
        height: 580px;
    }
    .contact-section .contact-header {
        padding: 40px 0 20px 0;
    }
    .contact-section .contact-list .contact-address {
        width: 100%;
        margin-bottom: 25px;
    }
    .contact-section .contact-list .company-info {
        width: 100%;
        margin-bottom: 25px;
    }
    .contact-section .contact-list .contact-number {
        width: 100%;
        margin-bottom: 25px;
    }
  }

@media (max-width:1400px) {
    .container {
        width: 100%;
        max-width: 100%;
        margin: auto;
        padding-left: 15px;
        padding-right: 15px;
    }
}

